body {
    margin: 0;
    padding: 0;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    /* -ms-overflow-style:none; */
}

::-webkit-scrollbar {
    /* display:none; */
    width: 1.5vh;
    border: 0.1vw solid #ef781c;
}

::-webkit-scrollbar-thumb {
    background-color: #ef781c;
    border-radius: 150vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw; /* diminui a quantidade de slides de 100 em 100 */
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.um {
    background-color: #dfe2e5;
    display: flex;
    flex-direction: row;
}

    .um div {
        width:50%;
        margin:2vw;
    }

        .um hr {
            border-left: solid 0.2vw #ef781c;
            width: 0;
            height:75%;
            margin-top:12.5vh;
        }

    .um p {
        font-size: 2vw;
        font-family: Ebrima;
        color: #2d3142;
    }

        .um p span {
            color: #ef781c;
            font-size: 2vw;
            font-family:Ebrima;
            font-weight:bold;
        }

.dois {
    background-color: #d2d5d9;
}

.tres {
    background-color: #dfe2e5;
}

.quatro {
    background-color: #d2d5d9;
}
