*{
    padding:0;
    margin:0;
}

a {
    color: #e7ecef;
    text-decoration:none;
    transition:0.3s;
}

a:hover{
    opacity:0.7;

}

.logo img{
    width:7%;
    height:7%;
    margin-left:5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height: 8vh;
    padding: 0.5vh 1vw;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{
    letter-spacing:0.2vw;
    margin-left:3vw;
}

.mobile-menu{
    cursor:pointer;
    display:none;
}

.mobile-menu div{
    width:3.25vw;
    height:0.5vh;
    background-color:#fff;
    margin:0.7vh;
    transition:0.3s
}

main {
    background-color: #d2d5d9;
    min-height: 86vh;
    padding-top:5vh;
    margin-top:8vh;
}

.box {
    background-color: #e7ecef;
    width: 80%;
    padding:0.5vw 0;
    margin: 0 auto;
    text-align: center;
}
.box .lblBemVindo{
    font-family:Ebrima;
    font-size:2vw;
    color:#fb8b24;
}

@media (orientation:portrait){
    body{
        overflow-x: hidden;

    }

    .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92%;
        background-color: #fb8b24;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 999;
    }


    .nav-list li{
        margin-left:0;
        opacity:0;

    }

    .mobile-menu{
        display:block;
    }

}

.nav-list.active{
    transform:translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

.mobile-menu.active .line1{
    transform:rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity:0;
}

.mobile-menu.active .line3 {
    transform:rotate(45deg) translate(-5px, -7px); 
}

h1.titulo{
    text-align:left;
    font-family:Ebrima;
    color:#e36414;
    font-size:2vw;
    margin-left: 5vw;
    margin-bottom:0.5vw;
}

/* Tabela de criptos */
p.estrela {
    width: 2vw;
    margin:0.5vw;
    margin-left:-1.2vw;
}
.criptotable {
    width: 90%;
    border: solid 1px #9c9fa1;
    border-radius: 2vw;
    margin: 0 auto;
}

    .criptotable td {
        padding: 0;
        padding-left: 2vw;
        display: flex;
        justify-content: space-around;
    }

        .criptotable td h2 {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw;
            border-right: 1px solid #9c9fa1;
            color: #e36414;
            font-size: 1.4vw;
        }

            .criptotable td h2:last-child {
                border: 0;
            }

            .criptotable td h2:first-child {
                border-left: 1px solid #9c9fa1;
            }

        .criptotable td h3 {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw 0.5vw 0.5vw 0.3vw;
            border-right: solid 1px #9c9fa1;
            border-left: solid 1px #9c9fa1;
            color: #fb8b24;
            font-size: 1vw;
        }

        .criptotable td p {
            font-family: Ebrima;
            font-size: 0.8vw;
            font-weight: bold;
        }

        .criptotable td span {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw;
            border: 0;
            font-size: 0.8vw;
            font-weight: bold;
        }

        .criptotable td p.valor {
            color: #2d3142;
            width: 50%;
            margin: 0.5vw;
            border-right: solid 1px #9c9fa1;
        }

.pos {
    color: #08A045;
}

.neg {
    color: #c23E34;
}

i.fa-star {
    color: #f0b432;
}

/*noticias*/
.feed {
    margin: 0 auto;
    background-color: #e7ecef;
    width: 80%;
    /*height: 82vh; */
    padding-top: 2vh;
    flex: 0.6
}

#plans, #plans ul, #plans ul li {
    margin: 0 1vw;
    padding: 0;
    list-style: none;
}

#pricePlans:after {
    content: '';
    display: table;
    clear: both;
}

#pricePlans {
    zoom: 1;
}

#pricePlans {
    max-width: 90%;
    margin: 0 auto;
}

    #pricePlans #plans .plan {
        background: #fff;
        background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0),rgba(255, 116, 32, 0.66));
        float: left;
        width: 100%;
        text-align: left;
        border-radius: 5px;
        margin: 0 0 20px 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

.planContainer {
    border-left: solid #e36414 15px;
}

    .planContainer .title h2 {
        font-size: 2.125em;
        font-weight: 300;
        color: #3e4f6a;
        margin: 0 1vw;
        padding: .6em 0;
    }

    .planContainer .options {
        margin-top: 10em;
    }

        .planContainer .options li {
            font-weight: 700;
            color: #364762;
            line-height: 2.5;
            margin: 0 1vw
        }

            .planContainer .options li span {
                font-weight: 400;
                color: #2d3142;
            }

    .planContainer .title .titnoticia {
        color: #2d3142;
        font-family: Ebrima;
        cursor: default;
    }
