* {
    padding: 0;
    margin: 0;
}

/* Menu */

a {
    color: #e7ecef;
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        opacity: 0.7;
    }

.logo img {
    width: 7%;
    height: 7%;
    margin-left: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height: 8vh;
    padding: 0.5vh 1vw;
    position:fixed;
    top:0;
    z-index:999;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 0.2vw;
        margin-left: 3vw;
    }

.mobile-menu {
    cursor: pointer;
    display: none;
}

    .mobile-menu div {
        width: 3.25vw;
        height: 0.5vh;
        background-color: #fff;
        margin: 0.7vh;
        transition: 0.3s
    }

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92%;
        background-color: #fb8b24;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index:999;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
    z-index:1000;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* Principal */
main {
    background-color: #d2d5d9;
    min-height: 87vh;
    align-items: center;
    padding-top: 5vh;
    margin-top:8vh;
}

h1.titulo {
    text-align: left;
    font-family: Ebrima;
    color: #e36414;
    font-size: 2vw;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
}

div.all{
    display:flex;
    width:80%;
    margin:0 auto;
}

.tagcontent {
    position: sticky;
    width: 20%;
    margin-top: 2vh;
    background-color: #e7ecef;
    text-align: center;
    padding-top: 1vh;
    border-radius: 0.5vw;
    flex: 0.3;
    top: 8vw;
    min-height: 25vh;
    overflow-y:scroll;
}

.tags{
    width:100%;
    height:50%;
}

.tags ul, .interessetag ul{
    display:inline-block;
}

.tags ol, .interessetag ol{
    margin:0.3vw 0.5vw;
}


    .tags ul input, .interessetag ul input{
        background-color: #e36414;
        border: 0;
        padding: 10px 20px;
        border-radius: 1000vw;
        margin: 3px 0;
        cursor: pointer;
        color: #e7ecef;
        font-family: Ebrima;
        font-weight: bold;
        font-size: 15px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        transition: background-color 0.2s;
    }

.btnsearch {
    background-color: #e36414;
    border: 0;
    padding: 5px 10px;
    border-radius: 1000vw;
    margin: 3px 0;
    cursor: pointer;
    color: #e7ecef;
    font-family: Ebrima;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
}

    .tags ul input:hover{
        background-color:#fb8b24;
    }

    .tags p {
        font-family: Ebrima;
        color: #e7ecef;
    }

.interessetag{
    width:100%;
    height:50%;
}

    .interessetag h1 {
        font-family: Ebrima;
        font-size: 1.5vw;
        color: #fb8b24;
    }

.txtTagSearch {
    border: 0;
    font-family: Ebrima;
    font-size: 15px;
    background-color: #d2d5d9;
    border-radius: 100vw;
    text-align: center;
    margin-top: 0.8vh;
    width:70%;
    padding: 5px 0;
}

.feed {
    margin: 0 auto;
    margin-top: 2vh;
    background-color: #e7ecef;
    width: 50%;
    /*height: 82vh; */
    padding-top: 2vh;
    border-radius: 0.5vw;
    flex:0.6
}

#plans, #plans ul, #plans ul li {
    margin: 0 1vw;
    padding: 0;
    list-style: none;
}

#pricePlans:after {
    content: '';
    display: table;
    clear: both;
}

#pricePlans {
    zoom: 1;
}

#pricePlans {
    max-width: 69em;
    margin: 0 auto;
}

    #pricePlans #plans .plan {
        background: #fff;
        background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0),rgba(255, 116, 32, 0.66));
        float: left;
        width: 100%;
        text-align: left;
        border-radius: 5px;
        margin: 0 0 20px 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

.planContainer{
    border-left:solid #e36414 15px;
}

.planContainer .title h2 {
    font-size: 2.125em;
    font-weight: 300;
    color: #3e4f6a;
    margin: 0 1vw;
    padding: .6em 0;
}

.planContainer .options {
    margin-top: 10em;
}

    .planContainer .options li {
        font-weight: 700;
        color: #364762;
        line-height: 2.5;
        margin:0 1vw
    }

        .planContainer .options li span {
            font-weight: 400;
            color: #2d3142;
        }

    .planContainer .title .titnoticia {
        color: #2d3142;
        font-family:Ebrima;
        cursor:default;
    }