*{
    padding:0;
    margin:0;
}

a {
    color: #e7ecef;
    text-decoration:none;
    transition:0.3s;
}

a:hover{
    opacity:0.7;

}

.logo img{
    width:7%;
    height:7%;
    margin-left:5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height:8vh;
    padding:0.5vh 1vw;
}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{
    letter-spacing:0.2vw;
    margin-left:3vw;
}

.mobile-menu{
    cursor:pointer;
    display:none;
}

.mobile-menu div{
    width:3.25vw;
    height:0.5vh;
    background-color:#fff;
    margin:0.7vh;
    transition:0.3s
}

main{
    background-color: #e7ecef;
    min-height:90vh;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;

    }

    .nav-list{
        position:absolute;
        top:8vh;
        right: 0;
        width:50vw;
        height:100%;
        background-color:#fb8b24;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        transform:translateX(100%);
        transition:transform 0.3s ease-in;

    }

    .nav-list li{
        margin-left:0;
        opacity:0;

    }

    .mobile-menu{
        display:block;
    }

}

.nav-list.active{
    transform:translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

.mobile-menu.active .line1{
    transform:rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity:0;
}

.mobile-menu.active .line3 {
    transform:rotate(45deg) translate(-5px, -7px); 
}
