* {
    padding: 0;
    margin: 0;
}

a {
    color: #e7ecef;
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        opacity: 0.7;
    }

.logo img {
    width: 7%;
    height: 7%;
    margin-left: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height: 8vh;
    padding: 0.5vh 1vw;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 0.2vw;
        margin-left: 3vw;
    }

.mobile-menu {
    cursor: pointer;
    display: none;
}

    .mobile-menu div {
        width: 3.25vw;
        height: 0.5vh;
        background-color: #fff;
        margin: 0.7vh;
        transition: 0.3s
    }

main {
    background-color: #d2d5d9;
    min-height: 86vh;
    padding-top: 5vh;
}

.box {
    background-color: #e7ecef;
    width: 80%;
    padding: 0.5vw 0;
    margin: 0 auto;
    text-align: center;
}

    .box .lblBemVindo {
        font-family: Ebrima;
        font-size: 2vw;
        color: #fb8b24;
    }

@media (orientation:portrait) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background-color: #fb8b24;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/*tabela de criptos*/

.criptotable {
    width: 90%;
    border: solid 1px #9c9fa1;
    border-radius: 2vw;
    margin: 0 auto;
}

    .criptotable td {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

        .criptotable td h2 {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw;
            border-right: 1px solid #9c9fa1;
            color: #e36414;
            font-size: 1.4vw;
        }

            .criptotable td h2 a {
                color: #e36414;
                text-decoration: underline dotted;
                text-underline-offset: 1px;
            }

            .criptotable td h2:last-child {
                border: 0;
            }


        .criptotable td h3 {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw;
            border-right: solid 1px #9c9fa1;
            font-size: 1vw;
        }

            .criptotable td h3 a {
                color: #fb8b24;
                text-decoration: underline dotted;
                text-underline-offset: 1px;
            }

        .criptotable td p {
            font-family: Ebrima;
            font-size: 0.8vw;
            font-weight: bold;
        }

        .criptotable td span {
            font-family: Ebrima;
            width: 50%;
            margin: 0.5vw;
            border: 0;
            font-size: 0.8vw;
            font-weight: bold;
        }

        .criptotable td p.valor {
            color: #2d3142;
            width: 50%;
            margin: 0.5vw;
            border-right: solid 1px #9c9fa1;
        }

.pos {
    color: #08A045;
}

.neg {
    color: #c23E34;
}