* {
    padding: 0;
    margin: 0;
}

a {
    color: #e7ecef;
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        opacity: 0.7;
    }

.logo img {
    width: 7%;
    height: 7%;
    margin-left: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height: 8vh;
    padding: 0.5vh 1vw;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 0.2vw;
        margin-left: 3vw;
    }

.mobile-menu {
    cursor: pointer;
    display: none;
}

    .mobile-menu div {
        width: 3.25vw;
        height: 0.5vh;
        background-color: #fff;
        margin: 0.7vh;
        transition: 0.3s
    }

@media (orientation:portrait) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background-color: #fb8b24;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* Perfil do Usuário */
.title {
    width: 80%;
    height: 10%;
    background-color: #e7ecef;
    text-align: center;
    margin: 0 auto;
    border-bottom: 0.5vw solid #fb8b24;
}

    .title h1 {
        font-family: Ebrima;
        color: #e36414;
        font-size: 2vw;

        padding: 1vh;
    }

main {
    background-color: #d2d5d9;
    min-height: 86vh;
    padding-top: 5vh;
    padding-bottom:5vh;
}

.box {
    background-color: #e7ecef;
    width: 80%;
    min-height:80vh;
    margin:0 auto;
    text-align:center;
    display:flex;
    flex-direction:row;
}

.dados {
    width: 50%;
    height: 100%;
    padding:0.5vw;
    display:flex;
    flex-direction:row;
}

    .labels{
        width:50%;
        height:100%;
    }

    .datacase{
        width:50%;
        height:100%;
    }


.preferida{
    width:50%;
    height:100%;
    padding:0.5vw;
}

.lbl{
    color:#2d3142;
    font-family:Ebrima;
    font-size:2vw;
}

