* {
    padding: 0;
    margin: 0;
}

/* Menu */

a {
    color: #e7ecef;
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        opacity: 0.7;
    }

.logo img {
    width: 7%;
    height: 7%;
    margin-left: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ebrima;
    background-color: #fb8b24;
    height: 8vh;
    padding: 0.5vh 1vw;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 0.2vw;
        margin-left: 3vw;
    }

.mobile-menu {
    cursor: pointer;
    display: none;
}

    .mobile-menu div {
        width: 3.25vw;
        height: 0.5vh;
        background-color: #fff;
        margin: 0.7vh;
        transition: 0.3s
    }

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92%;
        background-color: #fb8b24;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 999;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
    z-index: 1000;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Principal */
main {
    background-color: #d2d5d9;
    min-height: 88vh;
    padding-top: 5vh;
    margin-top:8.75vh;
}

.all{
    width:90%;
    height:100%;
    background-color:white;
    margin:0 auto;
    padding:2vw;
    border-radius:1vw;
}

.title{
    width:90%;
}

.titulo {
    font-family: Ebrima;
    font-size: 3vw;
    color: #ef781c;
    margin-left: 1vw;
}

.content{
    width:50%;
    height:100%;
    margin:0 auto;
    margin-bottom: 5vh;
    display:flex;
    flex-direction:row;

}

.content div{
    width:50%;
    text-align:center;
}

    .content div h1 {
        font-family: Ebrima;
        font-size: 2vw;
        color: #ef781c;
    }

#chart-line{
    margin-bottom:2vh;
    width:50%;
    height:100%;
    margin: 0 auto;
}

.btnStar {
    background:transparent;
    border: none;
    height: auto;
    width: 5vw;
    font-size:2.5vw;
    color:#9c9fa1;
    background-color:#fb8b24;
    border-radius:100vw;
    padding-top:-1vh;
    transition:0.2s;
    cursor:pointer;
}

.staractive{
    color: #f0b432;
}

    .btnStar:hover {
        color: #f0b432;
        background-color:#ef781c
    }

.labels{
    font-family:Ebrima;
    font-size:2vw;
    color:#2d3142;
    font-weight:bolder;
}

.date{
    font-weight:normal;
    color:#9c9fa1;
    font-size:1.5vw;
}
