body {
    margin:0;
    padding:0;
}

.outer-wrapper{
    width:100vh;
    height:100vw;
    transform:rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position:absolute;
    /* -ms-overflow-style:none; */
}

::-webkit-scrollbar {
    /* display:none; */
    width: 1.5vh;
    border: 0.1vw solid #ef781c;
}

::-webkit-scrollbar-thumb {
    background-color: #ef781c;
    border-radius: 150vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide{
    width:100vw;
    height:100vh;
}

.um {
    background-color: #fb8b24;
    text-align:center;
    background-image:url(Images/pattern.png);
    background-size:150%;
}

    .um h1 {
        font-family: 'Century Gothic';
        font-size: 3.5vw;
        color: #e7ecef;
        position:relative;
        top:-48vh;
    }

div.titulo{
    height:100vh;
    width:60vw;
    display:inline-block;
}

.titulo div{
    width:100%;
    height:15vh;
    margin-top:43vh;
    background-color:blue;
}

div.decorlinha {
    height: 100vh;
    width: 2vw;
    background-color: #dfe2e5;
    top: 0;
    left: 13vw;
    display: inline-block;
}

div.decorlinha2 {
    height: 40vh;
    width: 1vw;
    background-color: #dfe2e5;
    top: 60vh;
    left: 16vw;
    display: inline-block;
    margin-left:0.7vw;
}

.dois {
    background-color: #dfe2e5;
}

.dois div{
    margin:2vw;
}

.dois div hr{
    border-top: solid 0.2vw #ef781c;
    width:80%;
}

.dois div h1{
    font-size:3vw;
    font-family:Ebrima;
    color:#ef781c;
}

    .dois p {
        font-size: 2vw;
        font-family: Ebrima;
        color: #2d3142;
    }

.tres {
    background-color: #d2d5d9;
}

.quatro {
    background-color: #dfe2e5;
}

